
@{
    ViewData["Title"] = "Add";
}

<h1>Veri Tabanına AttrA'yı yazma işlemi</h1>
<br />

<form asp-controller="Job" asp-action="AddAttrA">
    <label>AttrA değeri:</label>
    <br />
    <input type="text" name="attra" />
    <br />
    <button type="submit">Submit</button>
</form>

